img {
    width: 100%;
    margin-top: -2.08087%;
    /* height: 700px; */
    height: auto;
    opacity: 0.8;
}
.teext {
    position: absolute;
    top: 10%;
    left: 0%;
    /* letter-spacing: 0px; */
    /* transform: translate(-10%, -40%); */
    color: white;
    font-size: 50px;
    font-weight: 700;
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* padding: 10px 20px; */
    text-transform: capitalize;
    text-shadow: 0px 1.5px 3px rgba(36, 34, 34, 0.75);

} 
.ok {
    padding-top: 15px;
    top: 20%;
    font-size: 35px;
    opacity: 0.8;
    color:rgb(255, 255, 255);

}
/* rgb(45, 19, 19) */