
.moving-words {
 white-space: nowrap;
 overflow: hidden;
 display: inline-block;
 animation: slide 5s linear infinite;
 

}
.word {
    white-space: nowrap;
    float: left;
    font-size: 34px;
    margin-right: 150px;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }  
}